/* start box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
@media(max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* end box */
/* start padding + margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
/* end padding + margin */
/* start color */
.bg-white {
  background-color: white;
}
.c-black {
  color: black;
}
/* end color */
/* Start position */
.p-relative {
  position: relative;
}
/* End position */
/* Fonts */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
@media(max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* Fonts */
/* border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* border */
/* Components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Components */
/* Width + Height */
.w-full {
  width: 100%;
}
/* Width + Height */